<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.logitechs.movieselector" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".View.MuveeLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MuveeMainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".View.MuveeLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MuveeLogin" />
        </activity>
        <activity
            android:name=".View.MuveeRegistration"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Registration" />
        <activity
            android:name=".View.MuveeSettings"
            android:label="Settings"
            android:parentActivityName=".View.MuveeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Preference" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MuveeMainActivity" />
        </activity>
        <activity
            android:name=".View.MuveeDetails"
            android:label="Müveé Details"
            android:parentActivityName=".View.MuveeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MovieDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MuveeMainActivity" />
        </activity>
        <activity
            android:name=".View.MuveeAdminActivity"
            android:label="Müveé Administrator"
            android:parentActivityName=".View.MuveeLogin"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MuveeLogin" />
        </activity>
    </application>

</manifest>
